<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome" />
    <add key="Environment" value="QA" />
    <add key="Language" value="English" />
    <add key="Console Type" value="EP" />
    <add key="Timeout" value="10.00"/>
    <add key="GoIBiBo_QA" value="https://omayo.blogspot.com/" />
    <add key="GoIBiBo_Staging" value="" />
    <add key="Username" value="autogsm001@hypertest.uk" />
    <add key="Password" value="123Webroot" />
  </appSettings>
</configuration>